<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<img src="img/picture.webp" alt="Laptop" width="473" height="316">
<p>Group Photo of our Team</p>

<div class="pt-3">
  <p>This is a simple user management system developed by 4 of our colleague as part of Skill Lab Final Task.</p>
  <p>Check out my <a href="https://github.com/07Roshi">GitHub Account</a> for various projects & codes </p>
</div>
